<div id="product-component" *ngIf="product != null">
  <div class="product-param-container">
    <span>Name: {{product.name}}</span>
  </div>

  <div class="product-param-container">
    <span>Count: {{product.count}}</span>
  </div>

  <div class="product-param-container">
    <span>Price: {{product.price}}</span>
  </div>

  <div class="product-buying-component">
    <input type="number" [(ngModel)]="count">
    <input type="button" (click)="addToOrder()">
  </div>

  <app-messages [messages]="messages"></app-messages>
</div>
